# Dependencies
node_modules/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.settings/
.c9/
.vimrc
.nvimrc
.history/

# Compiled Output & Build tools
dist/
/dist/
tmp/
out-tsc/
bazel-out/
.build-analytics/
/modules/rollup-test/dist/
.bazelrc.user
.ng-dev.user*
baseline.json

# Development / OS Files
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Devcontainer config exclusions (standard)
.devcontainer/*
!.devcontainer/README.md
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile

# Security / Secrets
*secret.js
.env
.env.local

# Misc Exclusions
pubspec.lock
.notes.md
.husky/_
*.pdf
*.sh
build.sh
