<div class="card border-primary">
    <div class="card-body">
        <h2 class="card-title">Work In Progress</h2>
        <div class="container marketing" style="height:400px; padding: 15px 15px 15px 15px; ">
            <div class="row">
                <div class="col-md-4" >
                    <h4 class="text-center">Verification</h4>
                    <div class="row">
                        <canvas style="width:90%" baseChart [data]="dataVerification" [options]="pieChartOptions" [chartType]="pieChartType" [labels] ="pieChartLabels"
                            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Approve</h4>
                    <div class="row">
                        <canvas style="width:90%"  baseChart [data]="dataApprove" [options]="pieChartOptions" [chartType]="pieChartType" [labels] ="pieChartLabels"
                            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">EDD</h4>
                    <div class="row">
                        <canvas style="width:90%" baseChart [data]="dataEdd" [options]="pieChartOptions" [chartType]="pieChartType" [labels] ="pieChartLabels"
                            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
                
            </div>

        </div>
    </div>

</div>