<style>
        input{
            width: 100%;
        }
    </style>
<div class="card border-primary">
    <div *ngIf="!repair" class="card-header">
        <button type="button" (click)="onBack()" class="btn btn-outline-dark btn-sm">
            <i class="fa fa-chevron-left fa-lg"></i>  Back
        </button>
        <button type="button" (click)="onReject()" class="btn btn-outline-danger btn-sm">
            <i class="fa fa-ban fa-lg"></i>  Reject
        </button>
        <button type="button" (click)="onConfirm()" class="btn btn-outline-success btn-sm">
            <i class="fa fa-check fa-lg"></i>  Confirm
        </button>
        <button type="button" (click)="requestRepair()" class="btn btn-outline-primary btn-sm">
            <i class="fa fa-wrench fa-lg"></i> Request Repair
        </button>
        

    </div>
    <div *ngIf="repair" class="card-header">
        <button type="button" (click)="onBack()" class="btn btn-outline-dark btn-sm">
            <i class="fa fa-chevron-left fa-lg"></i> Back
        </button>
        <button type="button" (click)="repairData()" class="btn btn-outline-primary btn-sm">
            <i class="fa fa-wrench fa-lg"></i> Repair
        </button>
    
    </div>
    <div class="card-body">
        <h5 >Master Data Approval</h5>
        <!-- <br> -->
        <!-- style="height:400px; style="padding: 15px 15px 15px 15px; "-->
        <div style="min-height :400px;"  >
            <table style="width: 100%;">
                <tr *ngIf="terorisList">
                    <td >
                        <op-teroris-modal-component
                            [statusRec]='statusRec'
                            [objEdit]='terorisList[1]'
                            [viewMsg]='viewMsg1'
                            >
                        </op-teroris-modal-component>
                    </td>
                    <td >
                        <op-teroris-modal-component
                            [statusRec]='statusRec'
                            [objEdit]='terorisList[0]'
                            [viewMsg]='viewMsg2'
                            >
                        </op-teroris-modal-component>
                    </td>
                </tr>
                <tr *ngIf="apuptList">
                    <td >
                        <op-apupt-modal-component
                            [statusRec]='statusRec'
                            [objEdit]='apuptList[1]'
                            [viewMsg]='viewMsg1'
                            >
                        </op-apupt-modal-component>
                    </td>
                    <td >
                        <op-apupt-modal-component
                            [statusRec]='statusRec'
                            [objEdit]='apuptList[0]'
                            [viewMsg]='viewMsg2'
                            >
                        </op-apupt-modal-component>
                    </td>
                </tr>
                <tr *ngIf="lookupList">
                    <td >
                        <op-lookup-modal-component
                            [statusRec]='statusRec'
                            [objEdit]='lookupList[1]'
                            [viewMsg]='viewMsg1'
                            >
                        </op-lookup-modal-component>
                    </td>
                    <td >
                        <op-lookup-modal-component
                            [statusRec]='statusRec'
                            [objEdit]='lookupList[0]'
                            [viewMsg]='viewMsg2'
                            >
                        </op-lookup-modal-component>
                    </td>
                </tr>
                <!-- <tr *ngIf="merchantGroupList">
                    <td >
                        <op-merchant-group
                            [statusRec]='statusRec'
                            [objEdit]='merchantGroupList[1]'
                            [viewMsg]='viewMsg1'
                            [idMda]="idMda"
                            [recAction]="recAction"
                            >
                        </op-merchant-group>
                    </td>
                    <td >
                        <op-merchant-group
                            [statusRec]='statusRec'
                            [objEdit]='merchantGroupList[0]'
                            [viewMsg]='viewMsg2'
                            [idMda]="idMda"
                            [recAction]="recAction"
                            >
                        </op-merchant-group>
                    </td>
                </tr> -->
                <!-- </tr> -->
                <tr *ngIf="regionList">
                    <td >
                        <op-region-modal-component
                            [statusRec]='statusRec'
                            [objEdit]='regionList[1]'
                            [viewMsg]='viewMsg1'
                            >
                        </op-region-modal-component>
                    </td>
                    <td >
                        <op-region-modal-component
                            [statusRec]='statusRec'
                            [objEdit]='regionList[0]'
                            [viewMsg]='viewMsg2'
                            >
                        </op-region-modal-component>
                    </td>
                </tr>
                <tr *ngIf="areaList">
                    <td >
                        <op-area-modal-component
                            [statusRec]='statusRec'
                            [objEdit]='areaList[1]'
                            [viewMsg]='viewMsg1'
                            >
                        </op-area-modal-component>
                    </td>
                    <td >
                        <op-area-modal-component
                            [statusRec]='statusRec'
                            [objEdit]='areaList[0]'
                            [viewMsg]='viewMsg2'
                            >
                        </op-area-modal-component>
                    </td>
                </tr>
                <tr *ngIf="branchList">
                    <td >
                        <op-branch-modal-component
                            [statusRec]='statusRec'
                            [objEdit]='branchList[1]'
                            [viewMsg]='viewMsg1'
                            >
                        </op-branch-modal-component>
                    </td>
                    <td >
                        <op-branch-modal-component
                            [statusRec]='statusRec'
                            [objEdit]='branchList[0]'
                            [viewMsg]='viewMsg2'
                            >
                        </op-branch-modal-component>
                    </td>
                </tr>
                <tr *ngIf="riskProfilerList">
                    <td >
                        <op-lookup-risk-profiler
                            [statusRec]='statusRec'
                            [objEdit]='riskProfilerList[1]'
                            [viewMsg]='viewMsg1'
                            >
                        </op-lookup-risk-profiler>
                    </td>
                    <td >
                        <op-lookup-risk-profiler
                            [statusRec]='statusRec'
                            [objEdit]='riskProfilerList[0]'
                            [viewMsg]='viewMsg2'
                            >
                        </op-lookup-risk-profiler>
                    </td>
                </tr>
                <tr *ngIf="internalNameRiskList">
                    <td>
                        <op-internal-name-risk-modal [statusRec]='statusRec' [objEdit]='internalNameRiskList[1]' [viewMsg]='viewMsg1'>
                        </op-internal-name-risk-modal>
                    </td>
                    <td>
                        <op-internal-name-risk-modal [statusRec]='statusRec' [objEdit]='internalNameRiskList[0]' [viewMsg]='viewMsg2'>
                        </op-internal-name-risk-modal>
                    </td>
                </tr>
                <tr *ngIf="systemParameterList">
                    <td>
                        <op-system-parameter-modal [statusRec]='statusRec' [objEdit]='systemParameterList[1]' [viewMsg]='viewMsg1'>
                        </op-system-parameter-modal>
                    </td>
                    <td>
                        <op-system-parameter-modal [statusRec]='statusRec' [objEdit]='systemParameterList[0]' [viewMsg]='viewMsg2'>
                        </op-system-parameter-modal>
                    </td>
                </tr>
                <!-- 'op-merchant-group' -->
            </table>

            <div  *ngIf="merchantGroupList">

                    <ngb-tabset>
                        <ngb-tab title="{{viewMsg1}}">
                            <ng-template ngbTabContent>
                                <br>
                                <div class="container">
                                    <op-merchant-group
                                        [statusRec]='statusRec'
                                        [objEdit]='merchantGroupList[1]'
                                        [viewMsg]='viewMsg1'
                                        [idMda]="idMda"
                                        [recAction]="recAction"
                                        >
                                    </op-merchant-group>
                                </div>
                            </ng-template>
                        </ngb-tab>
                            
                        <ngb-tab title="{{viewMsg2}}">
                            <ng-template ngbTabContent>
                                <br>
                                <div class="container">
                                    <op-merchant-group
                                    [statusRec]='statusRec'
                                    [objEdit]='merchantGroupList[0]'
                                    [viewMsg]='viewMsg2'
                                    [idMda]="idMda"
                                    [recAction]="recAction"
                                    >
                                    </op-merchant-group>
                                </div>

                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>

        </div>

        
        <!-- <div *ngIf="merchantGroupList">
            <ngb-tabset>
                <ngb-tab title="Merchant Group1">
                    <ng-template ngbTabContent>
                        <div class="container">
                            <op-merchant-group
                                [statusRec]='statusRec'
                                [objEdit]='merchantGroupList[1]'
                                [viewMsg]='viewMsg1'
                                [idMda]="idMda"
                                [recAction]="recAction"
                                >
                            </op-merchant-group>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Merchant Group2">
                    <ng-template ngbTabContent>
                        <div class="container">
                            <op-merchant-group
                                [statusRec]='statusRec'
                                [objEdit]='merchantGroupList[0]'
                                [viewMsg]='viewMsg2'
                                [idMda]="idMda"
                                [recAction]="recAction"
                                >
                        </op-merchant-group>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div> -->

        <!-- </div> -->
    </div>
</div>