<div class="card border-primary">
    <div class="card-body">
        <h5 class="card-title">List Area</h5>
    <!-- SEARCH -->
        <div>
            <form>
                <div class="row">
                    <div class="col-md-3 mb-3">
                    <label for="areaCodeInput">Code</label>
                    <input type="text" class="form-control"
                            id="areaCodeInput"
                            maxlength="255"
                            [(ngModel)]='searchTerm.code'
                            name="searchCode"
                            placeholder="Enter Code">
                    </div>  
                    <div class="col-md-3 mb-3">
                    <label for="areaNameInput">Name</label>
                    <input type="text" class="form-control"
                            id="areaNameInput"
                            maxlength="255"
                            [(ngModel)]='searchTerm.name'
                            name="searchName"
                            placeholder="Enter Name">
                    </div>
                    <div class="col-md-3 mb-3">
                    <label for="areaDesctiptionInput">Description</label>
                    <input type="text" class="form-control"
                            id="areaDesctiptionInput"
                            [(ngModel)]='searchTerm.branchDescription'
                            name="searchDescription"
                            maxlength="255"
                            placeholder="Enter Description">
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button type="submit" (click)="onFilter()" class="btn mr-2 btn-outline-success btn-sm" >Search <i class="fa fa-search fa-lg"></i></button>
                    <button type="button" (click)="resetFilter()" class="btn btn-outline-danger btn-sm" >Reset <i class="fa fa-refresh fa-lg"></i></button>
                </div>
            
            </form>
        </div>
        <br>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="open('addnew', null)">Addnew 
            <i class="fa fa-plus-circle fa-lg"></i>
            </button>
            <button type="button" class="btn btn-outline-warning btn-sm">Preview
                <i class="fa fa-search-plus fa-lg"></i> 
            </button>
            <button type="button" class="btn btn-outline-info btn-sm">Upload
                <i class="fa fa-upload fa-lg"></i> 
            </button>
        </div>
        <br>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-dark btn-sm" (click)="onBack()">
                <i class="fa fa-arrow-left fa-lg"></i> 
                Back
            </button>
        </div>
        <div style="padding: 15px 15px 15px 15px; ">
            <table class="table table-sm table-hover table-striped" >
                <thead>
                    <tr>
                        <th scope="col">Branch</th>
                        <th scope="col"></th>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Branch Description</th>
                        <th scope="col">Region Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Approval Status</th>
                        <th scope="col">Latest Maker Date</th>
                        <th scope="col">Latest Maker</th>
                        <th scope="col">Latest Approval Date</th>
                        <th scope="col">Latest Approver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let area of areaList">
                        <td>
                            <button type="button"
                                (click)="openDetail(area)"
                                class="btn btn-outline-warning btn-sm">
                                <i class="fa fa-location-arrow"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button"
                                (click)="open('edit', area)"
                                class="btn btn-outline-warning btn-sm">
                                <i class="fa fa-list"></i>
                            </button>
                        </td>
                        <td>{{area.code}}</td>
                        <td>{{area.name}}</td>
                        <td>{{area.branchDescription}}</td>
                        <td>{{area.region.name}}</td>
                        <td>{{area.status==1 ? 'Active' : Inactive}}</td>
                        <td>{{area.approvalStatusDescription}}</td>
                        <td>{{area.latestSuggestion | date:'dd-MMM-yyyy'}}</td>
                        <td>{{area.latestSuggestor}}</td>
                        <td>{{area.latestApproval | date:'dd-MMM-yyyy'}}</td>
                        <td>{{area.latestApprover}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ngb-pagination size="sm" 
            [collectionSize]="totalData"
            [(page)]="curPage" 
            [maxSize]="totalRecord" 
            (pageChange)="loadPage()"
            [boundaryLinks]="true">
        </ngb-pagination>
    </div>
  
</div>